<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>List categories - Flask</title>
</head>

<body style="padding:20px">
    {% if cursor %}
    <table border="2px">
        <thead>
            <tr>
                <th>Categoria</th>
                <th>Remover</th>
		<th>Listar Subcategorias</th>
            </tr>
        </thead>
        <tbody>
            {% for record in cursor %}
            <tr>
                <td>{{ record[0] }}</td>
                <td><a href={{ url_for('remove_category', category_name=record[0]) }}>Remover categoria</a></td>
		        <td><a href={{ url_for('list_subcat', category_name=record[0]) }}>Listar subcategorias</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p> Erro: ao obter dados da base de dados!</p>
    {% endif %}
</body>

</html>
