<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>List retailers - Flask</title>
</head>

<body style="padding:20px">
    {% if cursor %}
    <table border="2px">
        <thead>
            <tr>
                <th>TIN</th>
                <th>retailer_name</th>
                <th>Remover retalhista</th>
            </tr>
        </thead>
        <tbody>
            {% for record in cursor %}
            <tr>
                <td>{{ record[0] }}</td>
                <td>{{ record[1] }}</td>
                <td><a href={{ url_for('remove_retailer', TIN=record[0]) }}>Remover retalhista</a></td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
    <a href = {{url_for('new_retailer')}} > <button>Add Retailer</button> </a>
    <a href = {{url_for('list_categories')}} > <button>Categories</button> </a>
    <a href = {{url_for('list_IVM')}} > <button>IVMs</button> </a>
    {% else %}
    <p> Erro: ao obter dados da base de dados!</p>
    {% endif %}
</body>

</html>
